@media screen and (max-width: 480px) {
    /* Início Header */
    header {
        width: 95%;
        height: 50px;
    }

    header > h1 {
        font-size: 1.7em;
        margin: 4px 0 0 4px;
        padding: 4px 10px;
    }

    #menu {
        z-index: 2;
        float: right;
        margin: 7px 12px 0 0;
    }

    #menu-bar {
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        float: right;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-6px);
    }

    #bar3 {
        transform: translateY(6px);
    }
    
    .nav {
        transition: 0.3s ease;
        display: none;
    }
    
    .nav ul {
        padding: 0 0 0 0;
    }
    
    .nav li {
        list-style: none;
        padding: 12px 5px 12px 0;
        display: block;
        text-align: end;
    }
    
    .nav li a {
        font-size: 18px;
        transition: 0.8s;
    }
    
    .nav li a:active {
        color: rgb(2, 49, 1);
    }
    
    .menu-bg, #menu {
        top: 0;
        right: -5px;
        position: absolute;
    }
    
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 0px 15px 0 0;
        background: linear-gradient(var(--blue1), var(--blue2));
        border-radius: 10px;
        transition: 0.3s ease;
    }
    
    .change {
        display: block;
    }
    
    .change .bar {
        background-color: white;
    }
    
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
        opacity: 0;
    }
    
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
        width: 130px;
        height: 250px;
        transform: translate(8%, 0%);
    }
    /* Fim Header */

    /* Início Conteudo */
    main {
        width: 100%;
    }

    section.parallax {
        width: 100%;
        height: 100vh;
    }

    section.parallax article {
        width: 100%;
        height: 100vh;
    }

    section.parallax h2 {
        font-size: 1.3em;
        width: 85%;
        padding: 20px 2px;
    }

    section.conteudo {
        height: 100vh;
    }

    section.conteudo article p {
        width: 85%;
        padding: 10px;
    }

    /* Fim Conteudo */
}
@media screen and (min-width: 480.01px) and (max-width: 800px) {
    header {
        width: 90%;
        height: 65px;
    }

    header > h1 {
        font-size: 2.5em;
        margin: 5px 0 0 6px;
        padding: 1px 10px;
    }

    #menu {
        z-index: 2;
        float: right;
        margin: 12px 15px 0 0;
    }

    #menu-bar {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        float: right;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-6px);
    }

    #bar3 {
        transform: translateY(6px);
    }
    
    .nav {
        transition: 0.3s ease;
        display: none;
    }
    
    .nav ul {
        padding: 0 22px;
    }
    
    .nav li {
        list-style: none;
        padding: 12px 0;
    }
    
    .nav li a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        transition: 0.8s;
    }
    
    .nav li a:hover {
        font-weight: bold;
    }
    
    .menu-bg, #menu {
        top: 0;
        right: 0;
        position: absolute;
    }
    
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 0px 15px 0 0;
        background: linear-gradient(var(--blue1), var(--blue2));
        border-radius: 10px;
        transition: 0.3s ease;
    }
    
    .change {
        display: block;
    }
    
    .change .bar {
        background-color: white;
    }
    
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
        opacity: 0;
    }
    
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
        width: 200px;
        height: 300px;
        transform: translate(8%, 0%);
    }

    main {
        width: 100%;
    }

    section.parallax {
        width: 100%;
        height: 100vh;
    }

    section.parallax article {
        width: 100%;
        height: 100vh;
    }

    section.parallax h2 {
        font-size: 1.7em;
        width: 70%;
        padding: 20px 2px;
    }

    section.conteudo {
        height: 100vh;
    }

    section.conteudo article p {
        width: 85%;
        padding: 10px;
    }
}

    /* Fim Conteudo */
@media screen and (min-width: 800.01px) {
    header {
        width: 80%;
        height: 65px;
        max-width: 1100px;
        position: relative;
    }

    button {
        display: none;
    }

    header > h1 {
        font-size: 2.5em;
        margin: 5px 0 0 6px;
        padding: 1px 10px;
    }

    header > #menu > nav > ul {
        margin: 20px 5px 0 0;
    }

    header > #menu > nav > ul > li {
        display: inline;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    main {
        width: 100%;
    }

    section.parallax {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
    }

    section.parallax article {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
    }

    section.parallax h2 {
        font-size: 2em;
        width: 50%;
        padding: 20px 2px;
    }

    section.conteudo {
        height: 100vh;
    }

    section.conteudo article p {
        width: 70%;
        padding: 10px;
    }
}