/* Início das importações */
@charset "UTF-8";
@import url(responsividade.css);

@font-face {
    font-family: bebas;
    src: url(/fontes/Bebas_Neue/BebasNeue-Regular.ttf);
    font-weight: normal;
}
/* Fim das Importações */

/* Início das Variáveis */
:root {
    --blue0: #093618;
    --blue1: #05aa18cc;
    --blue2: #06461ce7;

    --fontbebas: bebas;
}
/* Fim das Variáveis */

/* Início do Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fim do Reset */

/* Início do Body */
body {
    background-color: #012a08;
    width: 100%;
    position: relative;
}
/* Fim do body */

/* Início da Nav */
header {
    box-shadow: 0px 0px 20px #000000;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

header > h1 {
    background-color: rgba(0, 0, 0, 0.492);
    color: white;
    font-family: var(--fontbebas);
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.559);
    float: left;
    border-radius: 10px;
    cursor: pointer;
}

header > #menu > nav > ul {
    list-style: none;
    float: right;
}

header > #menu > nav > ul > li > a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
/*
#home header #menu nav ul li a.ativo,
#servicos header #menu nav ul li a.ativo,
#sobre header #menu nav ul li a.ativo,
#contato header #menu nav ul li a.ativo {
    background-image: linear-gradient(to bottom, var(--blue1), var(--blue2));
    color: white;
}*/
/* Fim do Header */

/* Início do Main */
main {
    margin: auto;
    background-color: #012a08;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.70);
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}

main p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.70);
}

section.parallax {
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.70);
    color: white;
    position: relative;
}

section.parallax article {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

section.parallax h2 {
    font-family: var(--fontbebas);
    display: inline-block;
    margin: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 10px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.conteudo {
    position: relative;
}

section.conteudo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#sobre {
    background-image: url(../images/floresta-1.jpg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-radius: 0 0 10px 10px;
}
section#missao {
    background-image: url(../images/floresta-2.jpg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-radius: 10px 10px 10px 10px;
}


main.servicos h2, h3 {
    font-family: var(--fontbebas);
    font-weight: normal;
    letter-spacing: 1px;
    text-align: justify;
    margin: auto;
    max-width: 80%;
    color: white;
}

main.servicos p {
    text-align: justify;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px auto 10px auto;
    max-width: 80%;

}

main.servicos article {
    padding-bottom: 20px;
    padding-top: 100px;
}
main.sobre-nos h2, h3 {
    font-family: var(--fontbebas);
    font-weight: normal;
    letter-spacing: 1px;
    text-align: justify;
    margin: auto;
    max-width: 80%;
    color: white;
}

main.sobre-nos p {
    text-align: justify;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 20px auto 20px auto;
    max-width: 80%;

}

main.sobre-nos article {
    padding-bottom: 20px;
    padding-top: 100px;
}

main.contato article {
    max-width: 200px;
    margin: 0 auto;
    height: 100vh;
}

main.contato form {
    padding: 150px 0 150px 0;
    margin: 0 auto;
}

main.contato fieldset {
    color: white;
    border: none;
}

main.contato label {
    color: white;
}

main.contato input {
    padding: 5px;
    margin: 10px 0 10px 0;
}

/* Fim do main */

aside {
    background-color: var(--blue0);
    text-align: center;
}

aside ul {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

aside ul li {
    margin-bottom: 8px;
}

aside ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.559);
}

footer {
    padding: 5px;
    background-color: var(--blue2);
    color: white;
    text-align: center;
    font-size: 0.9em;
}